# macos
**/.DS_Store

# wails
bin/
build/darwin/icons.icns
build/windows/icon.ico
.task/
frontend/bindings/

# frontend
frontend/dist/
frontend/node_modules/
frontend/.eslintcache
frontend/.nuxt/
frontend/.output/
frontend/*.tsbuildinfo
frontend/auto-imports.d.ts
frontend/components.d.ts
